<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2> Login</h2>
    <form (ngSubmit)="login()">
      <div>
        <mat-label for="username">Username:</mat-label>
        <input type="email" id="username" [(ngModel)]="username" name="username" required>
          <div *ngIf="isUsernameEmpty()" class="error-message1">Username is required.</div>
      </div>
      <div class="form-field">
        <mat-label>Password :</mat-label>
        <input matInput [type]="passwordHidden ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
        <span class="eye-icon" (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
          
        </span>   <div *ngIf="isPasswordEmpty()" class="error-message2">Password is required.</div>
      </div>
      <div class="options">
        <a href="/reset-password">Forgot Password?</a>
        <span>|</span>
        <a href="/inscription">Sign up</a>
      </div>
      <button type="submit" mat-raised-button color="primary">Log In</button>
      <div *ngIf="loginError" class="error-message">Username or password is incorrect.</div>
    </form>
  </div>
</body>
</html>

