<body>
<h2>Add User</h2>

<!-- Formulaire d'ajout d'utilisateur -->
<form (submit)="addUser()" #userForm="ngForm">
  <!-- Ajoutez ici les champs de saisie pour les attributs de l'utilisateur -->
  <div>
      <mat-form-field>
        <input matInput placeholder="Firstname" [(ngModel)]="user.firstname" name="firstname" required>
      </mat-form-field>
      <div *ngIf="userForm.controls['firstname']?.invalid && (userForm.controls['firstname']?.dirty || userForm.controls['firstname']?.touched)" class="error-message">Firstname is required.</div>
    </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Lastname" [(ngModel)]="user.lastname" name="lastname" required>
    </mat-form-field>
    <div *ngIf="userForm.controls['lastname']?.invalid && (userForm.controls['lastname']?.dirty || userForm.controls['lastname']?.touched)" class="error-message">Lastname is required.</div>
  </div>

  <div>
   
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required email pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailInput="ngModel">


    </mat-form-field>
    
    <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
      <div *ngIf="emailInput.errors?.['required'] || emailInput.errors?.['email'] || emailInput.errors?.['pattern']">
        Please enter a valid email address.
      </div>
      
    </div>
    <div class="error-message" *ngIf="errorMessage !== undefined">{{ errorMessage }}</div>
    
    
  </div>
  
  <div>
    <mat-form-field>
      <input matInput placeholder="Adresse" [(ngModel)]="user.address" name="address" required>
    </mat-form-field>
    <div *ngIf="userForm.controls['address']?.invalid && (userForm.controls['address']?.dirty || userForm.controls['address']?.touched)" class="error-message">Addresse is required.</div>
  </div>
  
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="userForm.controls['dateOfBirth']?.invalid && (userForm.controls['dateOfBirth']?.dirty || userForm.controls['dateOfBirth']?.touched)" class="error-message">dateOfBirth is required.</div>
  </div>
  
  <div>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required minlength="8">
    </mat-form-field>
    <div *ngIf="userForm.controls['password']?.invalid && (userForm.controls['password']?.dirty || userForm.controls['password']?.touched)" class="error-message">
      Password is required and must be at least 8 characters long.
    </div>
  </div>
  
  
  <div>
    <mat-form-field>
      <input matInput type="tel" placeholder="Phone" [(ngModel)]="user.phone" name="phone" required pattern="[0-9]{8}">
    </mat-form-field>
    <div *ngIf="userForm.controls['phone']?.invalid && (userForm.controls['phone']?.dirty || userForm.controls['phone']?.touched)" class="error-message">Please enter a valid Tunisian phone number (8 digits).</div>
  </div>
  
  <div>
    <mat-form-field>
      <mat-label>Sexe</mat-label>
      <mat-select placeholder="Select Sexe" [(ngModel)]="user.sex" name="sexe" required>
        <mat-option value="HOMME">Homme</mat-option>
        <mat-option value="FEMME">Femme</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="userForm.controls['sexe']?.invalid && (userForm.controls['sexe']?.dirty || userForm.controls['sexe']?.touched)" class="error-message">Sexe is required.</div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>User Role</mat-label>
      <mat-select placeholder="Select User Role" [(ngModel)]="user.userRole" name="userRole" required>
        <mat-option value="PATIENT">Patient</mat-option>
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="SECRETARY">Secretary</mat-option>
        <mat-option value="DOCTOR">Doctor</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="userForm.controls['userRole']?.invalid && (userForm.controls['userRole']?.dirty || userForm.controls['userRole']?.touched)" class="error-message">UserRole is required.</div>
  </div>

  <!-- Ajoutez d'autres champs ici... -->

  <button mat-raised-button color="primary" type="submit">Add</button>
</form>
</body>