body {

  width: 600px;
    height: 700px; /* Hauteur égale à la hauteur de la fenêtre */
    background-color: #f5f5f5; /* Couleur de fond pour le corps */
  }
  
  /* Style du conteneur du formulaire */
  form {
   /* Largeur fixe du formulaire */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
  }
  
  
  
  /* Style du titre */
  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  /* Style des champs de saisie */
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style des listes déroulantes */
  mat-select {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style des boutons */
  button[type="submit"] {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 40px;
    margin-left: 180px;
  
  }
  .error-message {
    color: red;
   
  }
  button[type="submit"]:hover {
    background-color: #0033cc;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  
  /* Style des messages d'erreur */
  .mat-error {
    color: red;
  }
  
  /* Espacement entre les éléments */
  .mat-form-field + .mat-form-field,
  .mat-select + .mat-select {
    margin-top: 20px;
  }
  