<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div class="form-field">
        <label for="email">Email address :</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="options">
      
        <button type="submit" mat-raised-button color="primary">Reset the password</button> 
       <a href=""> <button type="button" mat-raised-button color="primary" >Cancel</button>
    </a>  </div>
    </form>
  </div>
</body>
  
