body {
    background-image: url("doctors.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: absolute;
  }
  
  h2 {
    color: #333;
  }
  
  .form-field {
    margin-bottom: 15px;
    position: relative;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }
  
  .eye-icon {
    position: absolute;
    top: 59%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .options a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  
  button[type="button"],
  button[type="submit"] {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
  }
  
  button[type="button"]:hover,
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  